body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  background-color: #aaa;

}
@media screen and (min-width: 1530px) {
  body {
    overflow: hidden;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #cf542a #0a0a0a;
    
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #0a0a0a;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #cf542a;
    border-radius: 41px;
    border: 0px solid #cf542a;
  }
